<div class="grid p-2 h-full">
  <div class="col-3 lg:col-2 h-full">
    <div class="flex align-items-center justify-content-between">
      Your spaces

      <p-button icon="pi pi-check" (click)="showDialog()">New</p-button>
    </div>
    <p-tree styleClass="p-0" class="w-full md:w-30rem" [value]="nodes" (onNodeExpand)="nodeExpand($event)"
      [loading]="loading"></p-tree>
  </div>
  <p-divider layout="vertical"></p-divider>
  <div class="col-9 lg:col-10"></div>
</div>

<p-dialog header="Create new space" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <form class="flex flex-column gap-4" [formGroup]="spaceForm" (ngSubmit)="handleLoginSubmit()">
    <div class="flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="name">Name</label>
        <input pInputText id="name" aria-describedby="name-help" formControlName="name" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="description">Description</label>
        <textarea rows="5" cols="30" id="description" aria-describedby="description-help" pInputTextarea
          formControlName="description"></textarea>
      </div>
    </div>

    <div class="flex flex-column gap-2">
      <label for="code">Code</label>
      <input pInputText id="code" aria-describedby="code-help" formControlName="code" />
    </div>

    <p-button label="Create" styleClass="w-full" class="w-full" icon="pi pi-check" type="submit"
      [disabled]="spaceForm.invalid"></p-button>
  </form>
</p-dialog>