<div class="flex flex-1 justify-content-center align-items-center">
  <form [formGroup]="loginForm" (ngSubmit)="handleLoginSubmit()">
    <p-card header="Login" [style]="{ width: '360px', backgroundColor: 'var(--surface-50)' }">
      <div>
        <div class="flex flex-column gap-2">
          <label for="username">Username</label>
          <input pInputText id="username" aria-describedby="username-help" formControlName="username" />
        </div>

        <div class="flex flex-column gap-2 mt-4">
          <label for="username">Password</label>
          <p-password [toggleMask]="true" [feedback]="false" styleClass="w-full" [inputStyle]="{ width: '100%;' }"
            formControlName="password"></p-password>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <p-button label="Login" class="w-full" icon="pi pi-check" type="submit"
          [disabled]="loginForm.invalid"></p-button>

        <p-button label="Dont have an account? Click here" [link]="true"></p-button>
      </ng-template>
    </p-card>
  </form>
</div>