/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/aura-light-lime/theme.css";
@import "primeng/resources/primeng.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}